@import 'tailwindcss';

@theme inline {
    --background: var(--background);
    --foreground: var(--foreground);
    --font-sans: var(--font-open-sans);
    --primary: var(--color-primary);
    --primary-hover: var(--color-primary-hover);
}

:root[data-theme='light'] {
    --color-primary: #0c7dce;
    --color-primary-hover: #01497d;
    --background: #eee;
    --foreground: #111;
    --menu-bg: #e5e5e5;
    --menu-color: #777;
    --menu-link-bg: #e5e5e5;
    --menu-link-bg-hover: #eee;
    --menu-link-bg-active: #f5f5f5;
    --menu-link-color: #333;
    --menu-link-color-hover: #000;
    --menu-link-color-active: #000;
    --link-color: var(--color-primary);
    --link-hover: var(--color-primary-hover);
    --heading-color: #222;
    --panel-bg: var(--background);
    --rule-top: #d5d5d5;
    --rule-bottom: #fff;
    --button-icon-color: #aaa;
    --button-icon-hover: #000;
    --tag-bg: #e5e5e5;
    --tag-bg-hover: #d5d5d5;
    --tag-color: #333;
    --tag-color-hover: #000;
    --site-section-title-color: #737373; /* e.g. Blog, Portfolio, etc. */
    --date-color: #737373;
    --portfolio-asset-thumbnail-bg: #ccc;
    --portfolio-detail-rule-color: #ccc;
    --cv-rule-color: #bbb;
    --cv-position-title-color: #222;
    --cv-company-color: #222;
    --cv-college-color: #222;
    --cv-college-degree-color: #222;
}

:root[data-theme='dark'] {
    --color-primary: #4ab1fb;
    --color-primary-hover: #b5dff9;
    --background: #333;
    --foreground: #f5f5f5;
    --menu-bg: #222;
    --menu-color: #f5f5f5;
    --menu-link-bg: #222;
    --menu-link-bg-hover: #191919;
    --menu-link-bg-active: #111;
    --menu-link-color: #aaa;
    --menu-link-color-hover: #f5f5f5;
    --menu-link-color-active: #f5f5f5;
    --link-color: var(--color-primary);
    --link-hover: var(--color-primary-hover);
    --heading-color: #e5e5e5;
    --panel-bg: var(--background);
    --rule-top: #222;
    --rule-bottom: #555;
    --button-icon-color: #999;
    --button-icon-hover: #fff;
    --tag-bg: #222;
    --tag-bg-hover: #191919;
    --tag-color: #f5f5f5;
    --tag-color-hover: #fff;
    --site-section-title-color: #737373;
    --date-color: #bbb;
    --portfolio-asset-thumbnail-bg: #555;
    --portfolio-detail-rule-color: #222;
    --cv-rule-color: #666;
    --cv-position-title-color: #fff;
    --cv-company-color: #bbb;
    --cv-college-color: #eee;
    --cv-college-degree-color: #bbb;
}

* {
    box-sizing: border-box;
    transition: all 0.25s linear;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4rem;
    color: var(--foreground);
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

a.underline-animation,
.underline-animation a {
    display: inline-block;
    @apply relative inline-block transition-colors duration-250 text-[var(--color-primary)];
}

a.underline-animation::before,
.underline-animation a::before {
    @apply absolute bottom-0 left-0 h-[1px] w-full origin-right scale-x-0 bg-[var(--color-primary-hover)] transition-transform duration-250;
    content: '';
}

a.underline-animation:hover,
.underline-animation a:hover {
    text-decoration: none;
    @apply text-[var(--color-primary-hover)];
}

a.underline-animation:hover::before,
.underline-animation a:hover::before {
    @apply origin-left scale-x-100;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.loading-bar {
    animation: loading 1.5s ease-in-out infinite;
    will-change: transform;
}

/* This one was a pain to do in Tailwind: */
#more {
    display: none;
}

@media (max-width: 1280px) {
    #more {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        z-index: 2;
        cursor: pointer;
    }

    #more:hover:before,
    #more:hover:after {
        background-color: var(--button-icon-hover);
    }

    #more:before,
    #more:after {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: var(--button-icon-color);
        position: absolute;
        left: 17.5px;
        transition: all 250ms linear;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transition: all 250ms linear;
        -moz-transition: all 250ms linear;
        -ms-transition: all 250ms linear;
        -o-transition: all 250ms linear;
    }

    #more:before {
        top: 25px;
    }

    #more:after {
        top: 35px;
    }

    #more.open:before {
        top: 30px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
    #more.open:after {
        top: 30px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}
