@import 'tailwindcss';

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-open-sans);
}

:root {
    --background: #333;
    --foreground: #f5f5f5;
    --menu-bg: #222;
    --menu-color: #f5f5f5;
    --link-color: #aaa;
    --link-hover: #f5f5f5;
    --heading-color: #e5e5e5;
    --panel-bg: rgba(0, 0, 0, 0.85);
    --link-color: #4ab1fb;
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4rem;
    color: var(--foreground);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
